.App {
  text-align: center;
  padding: 0 16px;
}

.App-logo {
  height: 120px;
}

.App-header {
  margin: 0 -16px 16px;
  background-color: #FFD393;
  padding: 16px;
  color: white;
}

.App-intro {
  font-size: large;
}
