.Panel {
    -webkit-box-shadow: 0 10px 6px -6px #bbbbbb;
    -moz-box-shadow: 0 10px 6px -6px #bbbbbb;
    box-shadow: 0 10px 6px -6px #bbbbbb;
    border: 1px solid rgba(187,187,187,0.25);
    background-color: white;
}

.Panel .Panel-body, .Panel .Panel-header {
    padding: 8px;
}

.Panel .Panel-header:after{
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.Panel .Panel-header img {
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
}

