.Panel {
    -webkit-box-shadow: 0 10px 6px -6px #bbbbbb;
    -moz-box-shadow: 0 10px 6px -6px #bbbbbb;
    box-shadow: 0 10px 6px -6px #bbbbbb;
    border: 1px solid rgba(187,187,187,0.25);
    background-color: white;
}

.Panel .Panel-body {
    padding: 8px;
}

.Panel .Panel-body img {
    display: inline-block;
    height: 80px;
}

