.Search {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #9C9B7A;
    border-radius: 100px;
    position: relative;
}

.Search-ring {
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px solid #405952;
    -webkit-border-radius: 90px;
    height: 180px;
    width: 180px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 0.0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0
    }
}

.Search .Search-icon-wrap {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background-color: #405952;
    position: absolute;
    top: 10px;
    left: 10px;
}

.Search img {
    display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    top: 20px;
    left: 20px;
}